<div class="max-full p-8 bg-white border border-gray-200 rounded-md shadow space-y-4">
  <div class="flex justify-between items-center">
    <h1 class="text-lg pb-6 text-[#555555] font-bold">Embeddings</h1>
    <%= button_to "New Embedding",
                  appcenter_embeddings_path,
                  method: :post,
                  class: "text-white bg-[#23B098] font-medium rounded-lg text-sm px-5 py-2.5" %>
  </div>

  <div class="relative overflow-x-auto shadow-md rounded">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Version
          </th>
          <th scope="col" class="px-6 py-3">
            Embedding Cost
          </th>
          <th scope="col" class="px-6 py-3">
            Embedding Status
          </th>
          <th scope="col" class="px-6 py-3">
            Status
          </th>
          <th scope="col" class="px-6 py-3">
            Model Ready
          </th>
          <th>
            FAISS
          </th>
          <th scope="col" class="px-6 py-3">
            Notes
          </th>
          <th scope="col" class="px-6 py-3 flex justify-end">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <% @embeddings.each do |embedding| %>
          <tr class="bg-white border-b">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <%= embedding.version %>
            </th>
            <td class="px-6 py-4">
              $<%= embedding.cost %>
            </td>
            <td class="px-6 py-4">
              <%= embedding.status.humanize %>
            </td>
            <td class="px-6 py-4">
              <% if embedding.active? %>
                <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">Active</span>
              <% else %>
                <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">Inactive</span>
              <% end %>
            </td>
            <td class="px-6 py-4">
              
              <% if embedding.model_ready? %>
                Ready
              <% else %>
                Not Ready
              <% end %>
            </td>
            <td>
              <% if embedding.model_ready? %>
                <span class="flex flex-col">
                  <a href="<%= embedding.faiss_url %>" target="_blank" class="text-blue-400">FAISS URL</a>
                  <a href="<%= embedding.pkl_url %>" target="_blank" class="text-blue-400">PKL URL</a>
                </span>
              <% else %>
                -
              <% end %>
            </td>
            <td class="px-6 py-4">
              <%= embedding.notes %>
            </td>
            <td class="pr-4 py-4">
              <div class="flex items-center justify-end space-x-4">
                <%= link_to "Show", appcenter_embedding_path(embedding), class: "text-white bg-[#23B098] font-medium rounded-lg text-sm px-5 py-2.5" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
